#root {
    margin: 0;
    padding: 0;
    width: 100%;
}

button{
    border: none !important;
    margin: 0;
    outline: none !important;
    padding: 0;
    text-align: left !important;
    text-wrap: wrap !important;

    &:hover{
        border: none !important;
    }
}